
.app {
  background: rgba(16, 86, 214, 0.363);
  min-height: 100vh;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(15px);
}

@media (max-width: 768px) {
  .app {
    border-radius: 0px;
  }
}

@media (max-width: 480px) {
  .app {
    background: rgba(255, 255, 255, 0.12);
  }
}
