
.app {
  background: rgba(16, 86, 214, 0.363);
  min-height: 100vh;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(15px);
}

@media (max-width: 768px) {
  .app {
    border-radius: 0px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
}

@media (max-width: 480px) {
  .app {
      background: #186280;
background: linear-gradient(to bottom, rgba(24, 98, 128, 1) 0%, rgba(38, 56, 56, 1) 50%, rgba(10, 16, 23, 1) 100%);
  }
}
