.navEl {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    backdrop-filter: blur(20px);
}

.logoImg {
    height: 22px;
    width: auto;
    padding: 15px 20px;
    border-radius: 20px;

    transition: 0.2s ease;
}

.logoImg:hover {
    background: rgba(255, 255, 255, 0.1);
}

.ulEl {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px 30px;
    background: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 30px;
    margin: 10px;
}

.navLink {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 500;

    transition: 0.2s ease;
}

.navLink:hover {
    color: rgb(190, 190, 190);
}

.status {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 10px 20px;
    border-radius: 999px;

    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(20px);

    border: 1px solid rgba(255, 255, 255, 0.15);

    color: white;
    font-size: 0.9rem;
}

.dot {
    width: 10px;
    height: 10px;

    border-radius: 50%;

    background: var(--dot-color);

    box-shadow:
        0 0 5px var(--dot-color),
        0 0 10px var(--dot-color),
        0 0 20px var(--dot-color);
}

.menuBtn {
    display: none;
}

@media (max-width: 1024px) {

    .ulEl {
        gap: 20px;
        padding: 10px 20px;
    }

    .status {
        padding: 8px 16px;
    }
}

@media (max-width: 768px) {

    .menuBtn {
        display: flex;
        flex-direction: column;
        gap: 8px;
        background: none;
        border: none;
        cursor: pointer;
    }


    .dotBtn {
        display: block;
        width: 15px;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.63);
    }

    .navEl {
        justify-content: space-between;
    }

    .mobileMenu {
        position: absolute;
        top: 60px;
        left: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 12px;
        border-radius: 12px;
        background: rgba(255, 255, 255, 0.226);
         color: white;
    font-size: 1rem;
    font-weight: 500;

    transition: 0.2s ease;
    }

    .ulEl {
        display: none;
    }

}